{% extends "base.html" %}
{% load static %}
{% load sc_filters %}
{% block page_title %}Forgot Password{% endblock %}

{% block page_css %}
<!-- page css -->
<link href="{% static 'dist/css/pages/login-register-lock.css' %}" rel="stylesheet">
<style>
    body {
        background-color: #fff !important;
    }
    
    .text-grey {
        color: #7a7a7a;
    }
    
    .esquire-font {
        font-family: Esquivel, sans-serif;
        font-weight: 400;
    }
    
    .esquire-light-font {
        font-family: Esquivel-Light, sans-serif;
    }
    
    .form-group i {
        font-weight: 600;
    }
    .required{
        display: none;
    }
    .bottom-right {
        position: absolute;
        top: 18px;
        right: 231px;
    }
    .main-heading {
        font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
        font-size: 3em;
        font-weight: 200;
    }
</style>
{% endblock %} 

{% block body %}
 <div class="container navbar-box card" style="background-color:white">
    <div class="row">
        <div class="col-md-8 pl-0" >
            <div class="text-center pb-3 pt-3">
                <div class="text-left" style="width:13%;">
                    <a href="{% settings_value "DOMAIN_URL" %}">
                        <img src="/assets/images/ebit-transparent.png" alt="E-Bit Logo" id="logo"  style="width:100%;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-6">
            <div class="row social-icons">
                <div class="col"></div>
                <div class="col-12 col-md-7">
                    <div class="row no-gutters">
                        <div class="col text-center py-3">
                            <a target='_blank' href="https://www.facebook.com/ebitofficial/">
                                <img title="Facebook" src="/assets/images/icon/facebook.png" alt="Facebook Logo">
                            </a>
                        </div>
                        <div class="col text-center py-3">
                            <a target='_blank' href="https://www.linkedin.com/company/e-bitofficial/">
                                <img title="Linkdin" src="/assets/images/icon/linkedin.png" alt="Linkedin Logo" >
                            </a>
                        </div>
                        <div class="col text-center py-3">
                            <a target='_blank' href="https://www.instagram.com/ebit.erp/">
                                <img title="Instagram" src="/assets/images/icon/instagram.png" alt="Instagram Logo" >
                            </a>
                        </div>
                        <div class="col text-center py-3">
                            <a target='_blank' href="https://www.youtube.com/channel/UC6XjyFSVzNQU7b7fFjxSUkQ">
                                <img title="Youtube" src="/assets/images/icon/youtube.png" alt="Youtube Logo" >
                            </a>
                        </div>
                        <div class="col text-center py-3">
                            <a target='_blank' href="https://e-bit.biz/">
                                <img title="Website" src="/assets/images/icon/website.png" alt="E-Bit Logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<section id="wrapper" class="mt-0">
    <div class="forgot-pass" style="background-color:#324A62">
       
        <div class="login-box card pt-0" >
            <div class="card-body pt-0" >           
                <form class="form" id="loginform" method="POST" >
                    {% csrf_token %}
                    <h1 class="text-left mb-4 text-white main-heading">Integrity toward integrated solution</h1>
                    <h4 class="text-left mb-4  text-white">Recover Password</h4>
                    <div class="form-group mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="user_email"><i class="ti-user" style="color:#324A62"></i></span>
                            </div>
                            <input type="text" class="form-control" name="user_email" id="user_email" placeholder="Enter your email" autofocus required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="d-flex no-block align-items-center">
                                <div class="ml-auto">
                                    <a href="/" id="to-recover" class="text-white"><i class="fas fa-arrow-left m-r-5"></i> Back to login</a>
                                </div>
                            </div>   
                        </div>
                    </div>
                 
                    <div class="form-group text-center mb-0">                     
                        <div class="col-md-12 p-b-10">
                            <button class="btn btn-block btn-rounded btn-block btn-light font-weight-bold" type="submit" style="color:#324A62">Submit</button><br>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center text">
                            <a href="http://esquiretechnology.com/" target="_blank"><span class="text-white">&copy; Esquire Technology Ltd</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}