{% extends "admin.html" %}

{% block page_title %}EBIT Version Log{% endblock %}

{% block content %}

<div class="card border-danger">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h4 class="text-themecolor mb-0">EBIT Version Log</h4>
        </div>
      </div>
    </div>
    <table class="table">
      <tr><td>23/03/2025</td> <td> 1.0.0</td> <td> UI basement, <b>Supportdesk Module Release</b> with Issue raise & approval, Included Phonebook</td></tr>
    </table>
</div>

{% endblock %}