{% extends "admin.html" %}
{% load static %}

{% block page_title %}Password Change {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <h4 class="text-themecolor mb-0"> Change Your Password</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
              <form class="floating-labels mt-3" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="password" class="form-control" name="old_password">
                      <span class="bar"></span>
                      <label for="employee_id">Old Password</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">New Password</label>
                      <input type="password" class="form-control" name="new_password1">
                      <span class="bar"></span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Re-Type Password</label>
                      <input type="password" class="form-control" name="new_password2">
                      <span class="bar"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 ml-auto mt-2">
                    <div class="button-group">
                      <button type="submit" class="btn btn-sm btn-block waves-effect waves-light btn-rounded btn-success">
                        <span class="btn-label"><i class="fa fa-check"></i></span> 
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
  $('.custom-switch-input').on('click', function (e) {
    console.log($(this).data('id'));
    var id = $(this).data('id');
    $.ajax({
      url: "{% url 'desk:status' %}",
      type: "POST", // http method
      data: { id: id },
      dataType: 'json',
      success: function (data) {
        console.log('Success');
      },
    });
  });
</script>
{% endblock %}