<div class="modal fade mt-5 mb-5" id="mpBudgetEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 1000px!important;">
        <div class="modal-content">
            <form class="floating-labels" id="mp_budget_form" method="POST" action="{% url "hr:mp_budget_edit" %}"  enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-header mb-2">
                    <h4 class="mb-0 mp_budget_head">Man Power Budget</h4>
                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="mainDiv" style="min-height:100px;max-height:400px;overflow-y: scroll;overflow-x: hidden;">
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="budget_year">Budget Year</label>
                                    <input class="form-control" type="number" id="budget_year" data-title="Budget Year" name="budget_year" value="{% now 'Y' %}" required/>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label for="company">Company</label>
                                    <select class="form-control text-capitalize select2" name="company" id="company">
                                        <option value="" disabled selected>All Company</option>
                                        {% for c in company_list %}
                                        <option value="{{c.id}}" {% if company_id == c.id %} selected {% endif %}>{{c.short_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label for="department">Department</label>
                                    <select class="form-control text-capitalize select2" name="department" id="department">
                                        <option value="" disabled selected>All Department</option>
                                        {% for d in department_list %}
                                        <option value="{{d.id}}" {% if mp_budget_list.0.department_id == d.id %} selected {% elif department_id == d.id %} selected {% endif %}>{{d.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-4">
                                <b>Designation</b>
                            </div>
                            <div class="col-md-3">
                                <b>Person Limit</b>
                            </div>
                            <div class="col-md-4">
                                <b>Value Limit</b>
                            </div>
                            <div class="col-md-1">  </div>
                        </div>
                        {% if mp_budget_list %}
                            {% for i in mp_budget_list %}
                                <div class="row designationRow">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control serial" type="hidden" id="serial_{{i.id}}" name="serial" value="{{i.id}}"/>
                                            <select class="form-control text-capitalize select2 designation" name="designation[{{i.id}}]" id="designation_{{i.id}}" onchange="checkDuplicateDesignation(this,'mpBudgetEditModal');" required>
                                                <option value="" disabled selected>All Designation</option>
                                                {% for d in designation_list %}
                                                <option value="{{d.id}}" {% if i.designation_id == d.id %} selected {% endif %}>{{d.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input class="form-control personlimit" type="number" id="personlimit_{{i.id}}" value="{{i.manpower_limit_qty}}" min="1" max="5000" onkeyup="enforceMinMax(this);" placeholder="Person Limit" name="person_limit[{{i.id}}]" required/>
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control valuelimit" type="number" id="valuelimit_{{i.id}}" min="1" max="2147483646" value="{{i.manpower_limit_value}}" onkeyup="enforceMinMax(this);" placeholder="Value Limit" name="value_limit[{{i.id}}]" required/>
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group mt-4">
                                            <a href="#" class="text-success addRow mt-4" onclick="copyRow(this,'mpBudgetEditModal');" id="addRow_{{i.id}}"><i class="fa fa-plus"></i></a>&nbsp;
                                            <a href="#" class="text-danger removeRow mt-4" onclick="removeRow(this,'edit','mpBudgetEditModal');" data-id="{{i.id}}" id="removeRow_{{i.id}}"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6"></div>
                        <div class="col-md-2">
                            <input type="hidden" name="submit_type" id="submit_type" value="">
                            <button type="submit" class="btn btn-sm btn-block btn-rounded btn-success item-add-btn submit-btn" value="submit" name="btnSave"><span class="btn-label"><i class="fa fa-check"></i></span> Submit </button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-sm btn-block btn-rounded btn-info item-add-btn submit-btn" value="save" name="btnSave"><span class="btn-label"><i class="fa fa-check"></i></span> Save </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(".submit-btn").on('click', function(){
    $("#submit_type").val(this.value)

})
</script>