{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Forgot password - HelpDesk</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    {% block css %}{% endblock %}
    {% include "inc/links.html" %}

  </head>
  <body class="">
    <div class="page">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div class="col col-login mx-auto">
              <form class="card" action="{% url 'resetPassword' %}" method="post">
                {% csrf_token %}
                <div class="text-center mt-6 header-brand">
                  <!-- <img src="{% static 'images/logo.png' %}" class="h-8" alt=""> -->
                  ICT HELPDESK
                </div>
                <div class="card-body p-6">
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible mt-3">
                        <button type="button" class="close" data-dismiss="alert"></button> {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                  <p class="text-muted text-center">Enter your email address and your password will be reset and emailed to you.</p>
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                  <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Send me new password</button>
                  </div>
                  <div class="text-center text-muted mt-4">
                    <a href="{% url 'index' %}">send me back to the sign in screen.</a><br>
                    © Esquire Technology
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>